{% include "lead/header.html" %}

                  <div class="row">
                     <div class="col-sm-8">
                        <h4 class="subheading">Team Python</h4>
                     </div>
                     <div class="col-4 text-right">
                        <button class="btn btn-primary btn-sm" onclick="openNav()"><i class="fa fa-plus"></i> Add Member</button>
                     </div>
                     <div class="col-12"><hr class="mt-1"></div>

                     <div class="col-12">
                        <div class="row">
                           
                           {% if user_list %}
                           {% for u in user_list %}
                           <div class="col-sm-4">
                              <div class="card emptem">
                                 <div class="card-body p-3 position-relative">
                                    <div class="empids2" title="Employee ID: 12"><i class="fa fa-id-card" aria-hidden="true"></i> {{u.id}}</div>
                                    <div class="row pb-1">
                                       <div class="col-2 my-auto">
                                          <div class="empnm-oval empnm-color-1">P</div>
                                       </div>
                                       <div class="col-10 my-auto">
                                          <div class="temmembernm ellipsis-text">{{u.first_name}} {{u.last_name}}</div>
                                          <div class="ellipsis-text">{{u.email}}</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           {% endfor %}
                           {% endif %}


                        </div>

                        <!--
                        <div class="card">
                           <div class="card-header p-3 cust-bod-b">
                              <h5 class="card-title mb-0">Groups are</h5>
                           </div>
                           <div class="card-body p-3">

                              <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="heading1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                      Team UX/UI Designer
                                    </button>
                                  </h2>
                                  <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionExample">
                                    <table class="table table-hover my-0">
                                       <thead>
                                          <tr>
                                             <th>ID</th>
                                             <th class="d-none d-xl-table-cell">User Email</th>
                                             <th class="d-none d-xl-table-cell">Name</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr>
                                             <td>12</td>
                                             <td class="d-none d-xl-table-cell">priyabrata.nath@connectix.net</td>
                                             <td class="d-none d-xl-table-cell">Priyabrata Nath</td>
                                          </tr>
                                          <tr>
                                             <td>12</td>
                                             <td class="d-none d-xl-table-cell">priyabrata.nath@connectix.net</td>
                                             <td class="d-none d-xl-table-cell">Priyabrata Nath</td>
                                          </tr>
                                          <tr>
                                             <td>12</td>
                                             <td class="d-none d-xl-table-cell">priyabrata.nath@connectix.net</td>
                                             <td class="d-none d-xl-table-cell">Priyabrata Nath</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                  </div>
                                </div>

                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="heading2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                      Team Python Developer
                                    </button>
                                  </h2>
                                  <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample">
                                    <table class="table table-hover my-0">
                                       <thead>
                                          <tr>
                                             <th>ID</th>
                                             <th class="d-none d-xl-table-cell">User Email</th>
                                             <th class="d-none d-xl-table-cell">Name</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr>
                                             <td>12</td>
                                             <td class="d-none d-xl-table-cell">priyabrata.nath@connectix.net</td>
                                             <td class="d-none d-xl-table-cell">Priyabrata Nath</td>
                                          </tr>
                                          <tr>
                                             <td>12</td>
                                             <td class="d-none d-xl-table-cell">priyabrata.nath@connectix.net</td>
                                             <td class="d-none d-xl-table-cell">Priyabrata Nath</td>
                                          </tr>
                                          <tr>
                                             <td>12</td>
                                             <td class="d-none d-xl-table-cell">priyabrata.nath@connectix.net</td>
                                             <td class="d-none d-xl-table-cell">Priyabrata Nath</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                  </div>
                                </div>

                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="heading3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                      Team PHP Developer
                                    </button>
                                  </h2>
                                  <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                       <table class="table table-hover my-0">
                                          <thead>
                                             <tr>
                                                <th>ID</th>
                                                <th class="d-none d-xl-table-cell">User Email</th>
                                                <th class="d-none d-xl-table-cell">Name</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr>
                                                <td>12</td>
                                                <td class="d-none d-xl-table-cell">priyabrata.nath@connectix.net</td>
                                                <td class="d-none d-xl-table-cell">Priyabrata Nath</td>
                                             </tr>
                                             <tr>
                                                <td>12</td>
                                                <td class="d-none d-xl-table-cell">priyabrata.nath@connectix.net</td>
                                                <td class="d-none d-xl-table-cell">Priyabrata Nath</td>
                                             </tr>
                                             <tr>
                                                <td>12</td>
                                                <td class="d-none d-xl-table-cell">priyabrata.nath@connectix.net</td>
                                                <td class="d-none d-xl-table-cell">Priyabrata Nath</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                  </div>
                                </div>

                              </div>
                           </div>
                        </div>
                        -->
                     </div>
                  </div>


            <div id="mySidebars" class="sidebars">
               <form class="row p-3">
                  <div class="col-9 my-auto"><h5 class="card-title mb-0">Add Group</h5></div>
                  <div class="col-3 text-right"><a href="javascript:void(0)" class="closebtns" onclick="closeNav()">×</a></div>
                  <div class="col-12">

                     <div class="form-group mb-2">
                        <input type="checkbox" name="groupmember" id="priyabratanath" value="Priyabrata Nath"> <label for="priyabratanath">Priyabrata Nath</label>
                     </div>
                     <div class="form-group mb-2">
                        <input type="checkbox" name="lohit" id="lohit" value="Lohit Das"> <label for="lohit">Lohit Das</label>
                     </div>

                     <div class="form-group pt-2">
                        <button type="button" class="btn btn-success">Submit</button>
                     </div>

                  </div>
               </form>
            </div>

{% include "footer.html" %}

<script>
function openNav() {
  document.getElementById("mySidebars").style.width = "300px";
}

function closeNav() {
  document.getElementById("mySidebars").style.width = "0";
}
</script> 